.profile_img {
	width: 75%;
	border: 5px solid white;
	margin-bottom: -30%;
	margin-top: 20%;
	margin-left: 30%;
}

.navbar {
	background-color: #39CCCC;
}

.header_verticalspace {
	padding-top: 5%;
}

.headertext_center {
	padding-top: 5%;
}

.headertext_bold {
	font-weight: bold;
}

.headertext_off_center {
	padding-left: 8%;
}

#important_points {
	margin-top: 11%;
}
