.profile_img {
	width: 65%;
	border: 5px solid white;
	margin-bottom: -30%;
	margin-top: 20%;
	margin-left: 100%;
}

.navbar {
	background-color: #39CCCC;
}

.header_verticalspace {
	padding-top: 3.5%;
}

.headertext_center {
	padding-left: 15%;
	padding-top: 5%;
}

.headertext_bold {
	font-weight: bold;
}

.headertext_off_center {
	padding-left: 8%;
}
